# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / Rider
*.csproj
*.sln
*.unityproj
*.pidb
*.user
*.userprefs
*.svd
*.pdb
*.opendb
*.VC.db
*.idea/
*.DotSettings

# Cache
/.vs/
.vscode/
*.booproj
*.suo
*.tmp
*.bak
*.backup
*.ldb
*.mdb

# Unity Collab / Plastic
.collabignore
PlasticSCM/

# Addressables
Assets/AddressableAssetsData/*/Windows/
Assets/AddressableAssetsData/*/Android/
Assets/AddressableAssetsData/*/iOS/

# Generated lightmaps
Assets/**/Lightmap-*
Assets/**/ReflectionProbe-*
Assets/**/LightmapSnapshot*

# Builds
*.apk
*.aab
*.unitypackage

# OS crap
.DS_Store
Thumbs.db

# Crash & profiling
sysinfo.txt
*.stacktrace
*.profiler
